body{
    font-family: 'Trocchi', serif;
}

/* FIRST SECTION */
  /*    font-size: 4 rem;  font-size: 1.5rem; font-size: 1.875rem;*/
#section--1{
    background-color: #FBFBFB;
    margin-top: 5rem;
}

.heading-primary{
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-align: center;
    letter-spacing: .1em;
    margin-bottom: 3.8rem;
    margin-top: 3.8rem;
    text-transform: uppercase;
    padding-left: 2rem ;
  
}


.section--1_p{
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

p{
    letter-spacing: 1px;
    font-size: 1.3rem;
    line-height: 2.5rem;
}

.heading-fourth{
font-size: 1.875rem;
line-height: 2.25rem;
color: green;
text-align: center;
}

.container{
    margin-right: 250px;
    margin-left: 250px;
}
.grid-1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.grid-2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.img-pres{
    width: 100%;
    align-items:center;
    height: 25rem;
   
}


/* Contact */

.form{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* .formulaire{
    display:

} */

.contacts{
    text-align: right;
}

.ctc-form{
    display: grid;
    grid-template-columns: 1fr;;
    column-gap: 3.8rem;
    row-gap: 2.4rem;
    justify-content: center;
    margin-left: 3rem;
}

.ctc-form label
{
    display: block;
   font-size: 1.6rem;
   font-weight: 300;
   color: green;
   margin-bottom: 1.2rem;
} 

.ctc-form input,
.ctc-form select{
    padding: 1.2rem;
    font-size: 1.4rem;
    font-family: inherit; 
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0,0,0.15);

    width: 100%;
    background-color: #FBFBFB;
  
    
}

.section--hidden{
    opacity: 0;
    transform: translateY(80px);
}

.section{
    margin-bottom: 5rem;
    
}

.hero{
    margin-bottom: 5rem;
}


.icon{
    height: 7rem;
    width: 7rem;
    color: green;

}

.heading-section{
    
    border-bottom: 6px solid green;
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.text-Start{
    color: green;
    font-size: 5rem;
    font-weight: 500;
}

.presentation{
    margin-top: 5rem;
}